
@{
    ViewBag.Title = "GetAllCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GetAllCategory</h2>

<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Category Table</h6>
        @if (Convert.ToString(TempData["Message"]) != "")
        {
            <div class=" p-2 mb-2 bg-@TempData["Class"] text-white">@TempData["Message"]</div>
        }
        @if (Convert.ToString(TempData["DeleteMessage"]) != "")
        {
            <div class=" p-2 mb-2 bg-@TempData["Class"] text-white">@TempData["DeleteMessage"]</div>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">CategoryId</th>
                        <th scope="col">CategoryName</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.CategoryId</th>
                            <td>@item.CategoryName</td>
                            <td><a class="btn btn-primary" href="@Url.Action("EditCat","Category", new  { id = item.CategoryId })">EDIT</a></td>
                            <td><a class="btn btn-primary" href="@Url.Action("DeleteCat","Category", new  { id = item.CategoryId})">DELETE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


